@import url("https://fonts.googleapis.com/css?family=Archivo+Black|Arvo|Roboto:300,300i");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-size: 1vw;
  font-family: "Archivo Black", sans-serif;
  color: #282828;
  width: 100%;
}

i {
  font-size: 1.5vw;
  margin: 0 1vw;
}

input {
  height: 2.7vw;
  padding: 0.5vw;
  border: 1px solid #dadada;
  border-radius: 10px;
  border-style: solid;
  box-shadow: none;
  font-size: 1.2vw;
  text-transform: capitalize;
}
input:focus {
  outline: none;
  border-color: #09f;
}

button {
  width: 8vw;
  height: 2.5vw;
  border: 0 solid #09f;
  border-radius: 5px;
  background-color: #09f;
  font-family: "Archivo Black", sans-serif;
  font-size: 1vw;
  color: white;
  text-transform: uppercase;
}
button:active {
  text-decoration: underline;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.outline {
  border: 1px solid #dadada;
}

.bold {
  font-weight: bold;
}

.header {
  background-color: #f3f3f3;
  background-position: center;
  padding: 0.75vw;
  flex-direction: column;
  flex-basis: 1;
  justify-content: space-between;
  height: 125px;
  width: 100vw;
}
.header div {
  justify-content: space-between;
  align-items: center;
}
.header input {
  width: 30vw;
}
.header img {
  width: 11vw;
  overflow-y: hidden;
}
.header button {
  margin: 0.5vw 0;
}
.header .header-high {
  height: 75px;
  width: 95vw;
  margin: 0 auto;
  border-bottom: 1px solid #dadada;
}
.header .header-high .column {
  justify-content: flex-end;
}
.header .header-high label {
  color: #09f;
  font-family: "Roboto", sans-serif;
}
.header .header-low {
  height: 50px;
  width: 95vw;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
}
.header .header-low li {
  font-size: 1.2vw;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 600;
  padding: 0 1vw;
}
.header .header-low p {
  font-family: "Roboto", sans-serif;
  font-size: 1.2vw;
  color: #09f;
  margin-right: 0;
}

.body {
  width: 95vw;
  background-size: 100%;
  margin: 0 auto;
  justify-content: space-between;
}
.body img {
  width: 100%;
}

.hero {
  margin-bottom: 1vw;
}
.hero img {
  width: 95vw;
}

.grey-bar {
  background-color: #dadada;
  width: 100%;
  height: 10px;
  margin: 1vw 0;
}

.item {
  position: relative;
  margin-bottom: 3vw;
  padding: 1vw;
}
.item img {
  width: 100%;
}

.up3 p, .up5 p {
  font-size: 1.2vw;
}

.up3 {
  flex-wrap: wrap;
}
.up3 p {
  font-family: sans-serif;
  position: absolute;
  bottom: 3vw;
  left: 3vw;
  font-size: 3vw;
  color: white;
  text-shadow: 0px 0px 2px #555;
  text-transform: capitalize;
}
.up3 .item {
  width: 33%;
}

.up5 {
  flex-wrap: wrap;
}
.up5 p {
  font-family: sans-serif;
  position: absolute;
  bottom: 3vw;
  left: 3vw;
  font-size: 1.8vw;
  color: white;
  text-shadow: 0px 0px 2px #555;
  text-transform: capitalize;
}
.up5 .item {
  width: 20%;
}

.pre-footer {
  justify-content: space-between;
}
.pre-footer .bold {
  text-transform: uppercase;
  font-size: 1.5vw;
  margin-left: 1vw;
}

.blog {
  flex-grow: 4;
  width: 60vw;
  padding: 1vw;
  border-right: 1px solid #dadada;
}
.blog img {
  width: 100%;
}

.blog-teaser h3 {
  font-family: "Arvo", serif;
}
.blog-teaser p {
  font-family: "Roboto", sans-serif;
}

.instagram {
  width: 35vw;
}
.instagram .flex {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.instagram .item {
  width: 50%;
  margin: 0;
}

.footer {
  background-color: #f3f3f3;
  width: 100vw;
  height: 150px;
  margin: 0;
}

/*# sourceMappingURL=output.css.map */
