//globe <i class="fas fa-globe-americas"></i>
//cart <i class="fas fa-shopping-cart"></i>
//search <i class="fas fa-search"></i>


@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Arvo|Roboto:300,300i');

//variables

$fontTitle: 'Archivo Black', sans-serif;
$fontLight: 'Roboto', sans-serif;
$fontSerif: 'Arvo', serif;
$fontText: sans-serif;
$bgDiag: url("../img/diagonals.png");
$black: #282828;
$blue: #09f;
$grey: #dadada;
$grey2: #555;
$greyLight: lighten($grey2, 62%);
$pink: #f39;
$fsize: 1vw;
$fsize-sm: 0.7vw;
$fsize-lg: 1.2vw;
$fsize-icon: 1.5vw;

//styles

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font: {
    size: $fsize;
    family: $fontTitle;
  }
  color: $black;
  width: 100%;
}

i {
  font-size: $fsize-icon;
  margin: 0 $fsize;
}

input {
  height: 2.7vw;
  padding: 0.5vw;
  border: 1px solid $grey;
  border-radius: 10px;
  border-style: solid;
  box-shadow: none;
  font-size: $fsize-lg;
  &:focus {
    outline: none;
    border-color: $blue;
  }
  text-transform: capitalize;
}

button {
  width: 8vw;
  height: 2.5vw;
  border: 0 solid $blue;
  border-radius: 5px;
  background-color: $blue;
  font-family: $fontTitle;
  font-size: ($fsize);
  color: white;
  text-transform: uppercase;
  &:active {
    text-decoration: underline;
  }
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.outline {
  border: 1px solid $grey;
}

.bold {
  font-weight: bold;
}

.header {
  background-color: $greyLight;
  background-position: center;
  padding: 0.75vw;
  flex-direction: column;
  flex-basis: 1;
  justify-content: space-between;
  height: 125px;
  width: 100vw;
  div {
    justify-content: space-between;
    align-items: center;
  }

  input {
    width: 30vw;
  }
  img {
    width: 11vw;
    overflow-y: hidden;
  }
  button {
    margin: 0.5vw 0;
  }
  .header-high {
    height: 75px;
    width: 95vw;
    margin: 0 auto;
    border-bottom: 1px solid $grey;
    .column {
      justify-content: flex-end;

    }
    label {
      color: $blue;
      font-family: $fontLight;
    }
  }
  .header-low {
    height: 50px;
    width: 95vw;
    margin: 0 auto;
    padding: 0;
    justify-content: space-between;
    li {
      font-size: ($fsize-lg);
      text-transform: uppercase;
      font-family: $fontText;
      font-weight: 600;
      padding: 0 1vw;
    }
    p {
      font-family: $fontLight;
      font-size: $fsize-lg;
      color: $blue;
      margin-right: 0;
    }
  }
}

.body {
  width: 95vw;
  // background-color: $pink;
  background-size: 100%;
  margin: 0 auto;
  justify-content: space-between;
  img {
    width: 100%;
  }
}

.hero {
  margin-bottom: 1vw;
  img {
    width: 95vw;
  }
}

.grey-bar {
  background-color: $grey;
  width: 100%;
  height: 10px;
  margin: 1vw 0;
}

.item {
  position: relative;
  margin-bottom: 3vw;
  padding: 1vw;
  img {
    width: 100%;
  }
}

.up3, .up5 {
  p {
    font-size: $fsize-lg;
  }
}

.up3 {
  flex-wrap: wrap;
  p {
    font-family: sans-serif;
    position: absolute;
    bottom: 3vw;
    left: 3vw;
    font-size: 3vw;
    color: white;
    text-shadow: 0px 0px 2px $grey2;
    text-transform: capitalize;
  }
  .item {
    width: 33%;
  }
}

.up5 {
  flex-wrap: wrap;
  p {
    font-family: sans-serif;
    position: absolute;
    bottom: 3vw;
    left: 3vw;
    font-size: 1.8vw;
    color: white;
    text-shadow: 0px 0px 2px $grey2;
    text-transform: capitalize;
  }
  .item {
    width: 20%;
  }
}

.pre-footer {
  // height: 400px;
  // background-color: $pink;
  justify-content: space-between;
  .bold {
    text-transform: uppercase;
    font-size: $fsize-icon;
    margin-left: 1vw;
  }
}

.blog {
  flex-grow: 4;
  width: 60vw;
  padding: 1vw;
  border-right: 1px solid $grey;
  img {
    width: 100%;
  }
}

.blog-teaser {
  h3 {
    font-family: $fontSerif;
  }
  p {
    font-family: $fontLight;
  }
}

.instagram {
  width: 35vw;
  .flex{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .item {
    width: 50%;
    margin: 0;
  }
}

.footer {
  background-color: $greyLight;
  width: 100vw;
  height: 150px;
  margin: 0;
}

// .test {
//   background: {
//     image: $bgDiag;
//     repeat: repeat;
//     color: lime;
//     size: 6vw;
//   }
//   width: 60vw;
//   height: 60vw;
// }
