//globe <i class="fas fa-globe-americas"></i>
//cart <i class="fas fa-shopping-cart"></i>


@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Roboto:300,300i');

$fontTitle: 'Archivo Black', sans-serif;
$fontLight: 'Roboto', sans-serif;
$fontText: sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: {
    size: 0.9vw;
    family: $fontTitle;
  }
  background-color: white;
  color: black;
  width: 100%;
}

i {
  font-size: 1.2vw;
  margin: 0 0.9vw;
}
